
/* Your CSS Code here. */

.holder{
    
    display: flex;
    flex-wrap: wrap;
  
} 
.item{
    background-color: green;
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 2px 0px 2px;
    
}
.one{
    background-color: red;
}
.two{
    background-color: blue;
}